antlr4-python3-runtime==4.9.2
Babel==2.9.1
luadata==1.0.5
msal~=1.20.0
numpy~=1.22.2
pandas~=1.5.3
python-dateutil~=2.8.2
pywikibot==6.6.1
PyYAML==5.4.1
regex==2021.10.8
requests==2.25.1
wikitextparser==0.47.5
